<% @title = "Qualcosa è andato storto?" %>


<% if !@info_request.nil? %>
<h1>Non sei soddisfatto di come è andata la richiesta '<%=request_link(@info_request) %>' ?
</h1>
<% else %>
<h1>Non sei soddisfatto di come è andata la richiesta '<%=request_link(@info_request) %>' ?
</h1>
<% end %>

<p>Se ...</p>

<ul>
<li>non hai ricevuto risposta nonostante siano passati entro 30 giorni (solari)</li>
<li>non hai ricevuto tutte le informazioni che avevi chiesto <strong>o</strong></li>
<li>la tua richiesta è stata rifiutata utilizzando motivazioni che non rientrano tra le eccezioni previste per legge</li>
</ul>

<p>... a questo punto puoi:</p>

<ol>
<li>chiedere <strong>un riesame interno</strong> al Responsabile Trasparenza</li>
<li>contattare <strong>il Difensore Civico</strong> se la tua richiesta è indirizzata a un ente locale o ricorrere al TAR</li>
<li>provare a cercare le informazioni <strong>in altro modo</strong></li>
</ol>

<h1 id="internal_review">1. Chiedi un riesame interno al Responsabile Trasparenza <a class="hover_a" href="#internal_review">#</a></h1>

<p>
<% if @info_request %>
    <%= link_to "Richiedi un riesame interno", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> spiegando che non hai ricevuto risposta entro i termini di legge o che ritieni il diniego infondato (e spiega perché).
<% else %>
    Alla fine della pagina di <%= site_name %> che si aprirà scegli 
    "Richiedi revisione interna". 
    Spiega che non hai ricevuto risposta entro i termini di legge o che ritieni il diniego infondato (e spiega perché).Ricorda di includere un link alla tua richiesta originaria per facilitare il processo.
<% end %>
</p>

<h1 id="complaining">2. Contatta il Difensore Civico o fai ricorso al TAR <a class="hover_a" href="#complaining">#</a> </h1>

<p>Se il riesame interno non funziona e hai inviato la tua richiesta a un ente locale puoi contattare il Difensore Civico regionale.
</p>

<p>Per facilitare l'invio delle informazioni rilevanti nel tuo ricorso
<% if !@info_request.nil? %>
    includi il link alla tua richiesta
    <strong><%=h request_url(@info_request) %></strong>
<% else %>
    includi il link alla tua richiesta su <%= site_name %>
<% end %>
o allega una copia della tua richiesta e i relativi allegati.
</p>

<p><%= site_name %> non supporta al momento l'invio di ricorsi al Difensore Civico: se scegli di percorrere questa strada scrivici e raccontaci come va aggiungendo un'annotazione alla tua richiesta.</p>
<p>Infine, puoi sempre ricorrere alla giustizia amministrativa: spesso è un percorso lungo e costo ma a volte è anche l'unica soluzione. Se decidi di presentare un ricorso al TAR, scrivici e proveremo a darti una mano.
</p>

<h1 id="other_means">3. Trova le informazioni seguendo altre strade <a class="hover_a" href="#other_means">#</a> </h1>

<p>Puoi provare a ottenere ciò che stai cercando seguendo altre strade

<ul>
<li>Invia una <strong>nuova richiesta di accesso</strong> per chiedere documenti più generali o indirettamente collegati alla tua richiesta.</li>
<li>Se <strong>altre amministrazioni</strong> o aziende partecipate sono coinvolte, invia la richiesta a loro.</li>
<li>Scrivi <strong>a un parlamentare o a un rappresentante locale di cui ti fidi</strong> e prova a chiedere il suo aiuto: potrebbe ad esempio scrivere direttamente alla pubblica amministrazione e fare interrogazioni.</li>
<li>Chiedi <strong>a ricercatori e giornalisti</strong> interessati a temi analoghi. Qualcuno di loro talvolta potrebbe aver avuto più successo.</li>
<li><a href="<%= help_contact_path %>">Chiedici consiglio</a> se non sai cosa fare.</li>
</ul>




